__pycache__/
*.pyc
.history/
.vscode/
.DS_Store
*.egg-info/
dist/
build/
Audio_Libraries/
*.diff
prs*.json
mission_history.json
*.pdf
session_state.json
*.spec
ffmpeg_bundle/
ffmpeg_extract/
